<ul class="nav justify-content-center">

<li class="nav-item">
  <a class="nav-link" routerLink="/renewal">Renewal</a>
  
</li>
</ul>
<router-outlet></router-outlet>


<div class="container mt-4">
  <h2>View All Licenses</h2>
  <div *ngIf="licenses.length > 0; else noLicenses">
    <div class="card" *ngFor="let license of licenses">
      <div class="card-body">
        <h4 class="card-title">License Details</h4>
        <ul class="list-group">
          <li class="list-group-item">ID: {{ license.id }}</li>
          <li class="list-group-item">Name: {{ license.name }}</li>
          <li class="list-group-item">Description: {{ license.description }}</li>
          <li class="list-group-item">Vendor name: {{ license.vendorName }}</li>
            <li class="list-group-item">License cost: {{ license.cost }}</li>
            <li class="list-group-item">License validity: {{ license.validity }}</li>
            <li class="list-group-item">Category: {{ license.category }}</li>
            
          <!-- <li class="list-group-item">Expiry Date: {{ license.expiryDate | date: 'shortDate' }}</li> -->
          <!-- <li class="list-group-item"  style="display: none;">Expiry Date: {{ license.expiryDate | date: 'shortDate' }}</li> -->
        </ul>
        <!-- Add a "Purchase" button for each software -->
        <!-- <button   [disabled]="clicked"    class="btn btn-primary" (click)="purchaseSoftware(license,username);clicked=true;">Purchase</button> -->
        <button [disabled]="clickedLicenses[license.id]" class="btn btn-primary" (click)="purchaseSoftware(license, username)">Purchase</button>

      </div>
    </div>
  </div>
  <ng-template #noLicenses>
    <p>No licenses found.</p>
  </ng-template>
</div>
