<div class="container mt-4">
  <h2>List of Licenses</h2>
  
  <!-- Filter by Category Dropdown -->

  <div class="form-group">
    <label for="category">Filter by Category:</label>
    <!-- <fa-icon [icon]="faFilter"></fa-icon> -->

    <select class="form-control" id="category" [(ngModel)]="filterCategory">
      <option value="All">All</option>
      <option value="Device">Device</option>
      <option value="Software">Software</option>
    </select>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Vendor Name</th>
        <th>License Cost</th>
        <th>License Validity</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let license of filterLicensesByCategory()">
        <td>{{ license.id }}</td>
        <td>{{ license.name }}</td>
        <td>
          <span *ngIf="!license.editing">{{ license.description }}</span>
          <input *ngIf="license.editing" type="text" [(ngModel)]="license.editedDescription">
        </td>
        <td>
          <span *ngIf="!license.editing">{{ license.vendorName }}</span>
          <input *ngIf="license.editing" type="text" [(ngModel)]="license.editedVendorName">
        </td>
        <td>
          <span *ngIf="!license.editing">{{ license.cost }}</span>
          <input *ngIf="license.editing" type="number" [(ngModel)]="license.cost" min="1">
        </td>
        <td>
          <span *ngIf="!license.editing">{{ license.validity }}</span>
          <input *ngIf="license.editing" type="text" [(ngModel)]="license.editedValidity" min="1">
        </td>
        <td>{{ license.category }}</td>
        <td>
          <button (click)="editLicense(license)" *ngIf="!license.editing">Edit</button>
          <button (click)="saveLicense(license)" *ngIf="license.editing">Save</button>
          <button (click)="cancelEdit(license)" *ngIf="license.editing">Cancel</button>
          <button (click)="deleteLicense(license.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
