<app-license></app-license>


<div class="container mt-4">
  <h2>Activated employees</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>License Cost</th>
        <th>License Validity</th>
        <th>Vendor Name</th>
        <th>Category</th>
        <th>Email</th>
        <th>Installation Date</th>
        <th>Expiry Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of details">
        <td>{{ detail.id }}</td>
        <td>{{ detail.name }}</td>
        <td>{{ detail.description }}</td>
        <td>{{ detail.cost }}</td>
        <td>{{ detail.validity }}</td>
        <td>{{ detail.vendorName }}</td>
        <td>{{ detail.category }}</td>
        <td>{{ detail.username }}</td>
        <td>{{ detail.systemDate }}</td>
        <td>{{ detail.expiryDate }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #nodetails>
    <p>No details found.</p>
  </ng-template>
</div>