<!-- <p>home-page works!</p> -->



<!-- <div>
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
</div>  -->
<!-- 
<div class="container">
    <h2>Software Counts</h2>
    <canvasjs-chart
      [options]="chart"
      [styles]="{ width: '100%', height: '360px' }"
    ></canvasjs-chart>
  </div> -->
  <!-- <div class="container">
    <h2>Software Counts</h2>
    <canvasjs-chart
      [options]="chart"
      [styles]="{ width: '100%', height: '360px' }"
    ></canvasjs-chart>
  </div> -->

  <div class="lav">
    <!-- <canvas id="line-chart" width="400" height="200"></canvas> -->
    <h4>count of employees for each license</h4>
    <canvas id="line-chart"  ></canvas>
  </div>

  <router-outlet></router-outlet>

  