<!-- <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/userview/:uname">List of licenses available</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/renewal">Renewal</a>
    </li>
</ul>
<router-outlet></router-outlet>
   -->
   <div class="navbar">
    <h3>Employee Page</h3>
    
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/userview">Licenses Available</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/renewal">Employee renewal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
      
    </ul>
  </div>
  <!-- <app-view-license></app-view-license> -->
  <div class="navigation">
  <router-outlet></router-outlet>
  </div>
  